@import 'src/scss/mixins';
@import 'src/scss/variables';

header {
    line-height: 70px;
    width: 100%;
    background-color: $header-main-color;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $header-border-color;
    height: 70px;
}

.left-side-nav,
.right-side-nav {
    display: flex;
    align-items: center;
}

.left-side-nav {
    .nav-title {
        font-size: 22px;
        color: $header-main-color;
        padding: 0 25px;
        background-color: $news-white-color;
    }
    
    input[type=text] {
        border: none;
        outline: none;
        text-align: center;
        font-size: 17px;
        max-width: 150px;
        line-height: 70px;
        padding: 0 5px;
        background-color: #252a67;
        color: $news-white-color;
    }
}

.categories-link,
.home-link {
    display: flex;
    justify-content: center;
    color: $news-white-color;
    width: 70px;
    position: relative;
    text-decoration: none;
    padding: 0 25px;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out 0s);

    &:before {
        content: '';
        position: absolute;
        width: 77px;
        height: 1px;
        top: 45px;
        background-color: $news-white-color;
        visibility: hidden;
        @include transform(scaleX(0));
        @include transition(all 0.2s ease-in-out 0s);
    }

    &.active,
    &:hover {
        &:before {
            visibility: visible;
            @include transform(scaleX(1));
        }
    }

    &.active {
        color: $news-white-color;
    }
}

.home-link {
    &:before {
        width: 42px;
        border-left: 1px solid $news-white-color;
    }
}

.menu-bar,
.dropdown-menu,
.nav-title-menu {
    display: none;
}

.nav-button-gb,
.nav-button-us {
    height: 100%;
    width: 70px;
    background-color: $header-main-color;
    color: $news-white-color;
    outline: none;
    border-color: $header-border-color;
    border-width: 0 0 0 1px;
    font-weight: 600;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out 0s);

    &.active {
        background-color: $news-white-color;
        color: $header-main-color;
        border: none;
    }

    &:disabled {
        opacity: 0.2;
        pointer-events: none;
    }
}

@media only screen and (max-width: 768px) {
    .left-side-nav,
    .right-side-nav {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .nav-title-menu {
        display: block;
        font-size: 22px;
        color: $header-main-color;
        padding: 0 25px;
        background-color: $news-white-color;
    }

    .dropdown-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        .categories-link,
        .home-link  {
            height: 36px;
            align-items: center;

            &:before {
                top: 28px;
            }
        }
        
        input[type=text] {
            border: none;
            outline: none;
            text-align: center;
            font-size: 15px;
            max-width: 150px;
            line-height: 36px;
            color: $header-main-color;
            padding: 0 5px;
        }
    }

    .dropbtn {
        height: 100%;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $header-border-color;
        cursor: pointer;
        @include transition(all 0.2s ease-in-out 0s);

        &.active {
            background-color: $news-white-color;

            .fa-times {
                color: $header-main-color;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }

    .fa-bars {
        cursor: pointer;
        font-size: 20px;
        color: $news-white-color;
    }

    .country-buttons-dropdown {
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin-bottom: 20px;

        button {
            border: 1px solid $news-white-color;
            color: $news-white-color;

            &.active {
                color: $header-main-color;
                background-color: $news-white-color;
            }

            &:disabled {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }
}
