@import 'src/scss/mixins';

header {
    line-height: 78px;
    width: 100%;
    background-color: #2e2873;
    border-bottom: 1px solid #e6e6e6;
}

nav {
    display: flex;
    justify-content: space-between;
}

.left-side-nav,
.right-side-nav {
    display: flex;
    align-items: center;
}

.left-side-nav {
    .nav-title {
        font-size: 22px;
        color: #2e2873;
        padding: 0 25px;
        background-color: white;
        border-right: 1px solid #2e2873;
    }

    .categories-link {
        text-decoration: none;
        color: white;
        padding: 0 25px;
        font-size: 20px;
        border-right: 1px solid #2e2873;

        &.active {
            background-color: white;
            color: #2e2873;
        }
    }
    
    input[type=text] {
        border: none;
        outline: none;
        text-align: center;
        font-size: 17px;
        max-width: 150px;
        line-height: 76px;
        padding: 0 5px;
        background-color: #222873;
        color: white;
    }
}

.menu-bar {
    display: none;
}

.dropdown-menu {
    display: none;
}

.nav-title-menu {
    display: none;
}

.nav-button-gb,
.nav-button-us {
    height: 100%;
    width: 78px;
    background-color: #2e2873;
    color: white;
    outline: none;
    border-color: #e6e6e6;
    border-width: 0 0 0 1px;
    font-weight: 600;
    cursor: pointer;

    &.active {
        background-color: white;
        color: #2e2873;
        border: none;
    }
}

.home-link {
    display: flex;
    justify-content: center;
    color: white;
    border-left: 1px solid white;
    width: 78px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    @include transition(all 0.3s ease-in-out 0s);

    &:before {
        content: '';
        position: absolute;
        width: 42px;
        height: 1px;
        top: 50px;
        background-color: white;
        visibility: hidden;
        @include transform(scaleX(0));
        @include transition(all 0.3s ease-in-out 0s);
    }

    &.active,
    &:hover {
        &:before {
            visibility: visible;
            @include transform(scaleX(1));
        }
    }

    &.active {
        color: white;
    }
}

@media only screen and (max-width: 768px) {
    .menu-bar {
        display: block;
    }

    .nav-title-menu {
        display: block;
        font-size: 22px;
        color: #2e2873;
        padding: 0 25px;
        background-color: white;
        border-right: 1px solid #2e2873;
    }

    .left-side-nav,
    .right-side-nav {
        display: none;
    }

    .dropdown-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #e6e6e6;
        padding: 20px 0;

        .categories-link  {
            text-decoration: none;
            color: white;
            font-size: 20px;
    
            &:hover,
            &:active {
                color: #3f51b5;
            }
        }
        
        input[type=text] {
            border: none;
            outline: none;
            text-align: center;
            font-size: 15px;
            max-width: 150px;
            line-height: 36px;
            color: #2e2873;
            padding: 0 5px;
        }

        .home-link {
            border: none;
            font-size: 20px;
            
            &:before {
                width: 52px;
            }
        }
    }

    .dropbtn {
        height: 100%;
        width: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #e6e6e6;

        &.active {
            background-color: white;

            .fa-bars {
                color: #2e2873;
            }
        }
    }

    .fa-bars {
        cursor: pointer;
        font-size: 19px;
        color: white;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin-bottom: 20px;

        button {
            border: 1px solid white;
            color: white;

            &.active {
                color: #2e2873;
                background-color: white;
            }
        }
    }
}
