<header>
    <nav>
        <span class="nav-title-menu">Top News</span>
        <div class="left-side-nav">
            <span class="nav-title">Top News</span>
            <a class="home-link" [routerLink]="['/top-news']">Home</a>
            <a class="categories-link" [routerLink]="['/categories']">Categories</a>
            <form>
                <input type="text" placeholder="Search" (keyup.enter)="onEnterSearchedText($event)">
            </form>
        </div>

        <div class="right-side-nav">
            <button class="nav-button-gb" [disabled]="disableLanguageSelection" (click)="onChangeLanguage('gb')" [class.active]="languageService.currentSelectedLanguage.key === 'gb'">GB</button>
            <button class="nav-button-us" [disabled]="disableLanguageSelection" (click)="onChangeLanguage('us')" [class.active]="languageService.currentSelectedLanguage.key === 'us'">US</button>
        </div>

        <div class="menu-bar">
            <div class="dropbtn" [class.active]="showDropdownMenu" (click)="showDropdownMenu = !showDropdownMenu">
                <i class="fa fa-bars" aria-hidden="true" *ngIf="!showDropdownMenu" ></i>
                <i class="fa fa-times" aria-hidden="true" *ngIf="showDropdownMenu"></i>
            </div>
        </div>
    </nav>

    <div class="dropdown-menu" *ngIf="showDropdownMenu">
        <a class="home-link" [routerLink]="['/top-news']">Home</a>
        <a class="categories-link" [routerLink]="['/categories']">Categories</a>
        <form>
            <input type="text" placeholder="Search" (keyup.enter)="onEnterSearchedText($event)">
        </form>
        <div class="country-buttons-dropdown">
            <button mat-button [disabled]="disableLanguageSelection" (click)="onChangeLanguage('gb')" [class.active]="languageService.currentSelectedLanguage.key === 'gb'">GB</button>
            <button mat-button [disabled]="disableLanguageSelection" (click)="onChangeLanguage('us')" [class.active]="languageService.currentSelectedLanguage.key === 'us'">US</button>
        </div>
    </div>
</header>
