<header>
    <nav>
        <span class="nav-title-menu">Top News</span>
        <div class="left-side-nav">
            <span class="nav-title">Top News</span>
            <a href="">Categories</a>
            <form>
                <input type="text" placeholder="Search">
            </form>
        </div>

        <div class="right-side-nav">
            <button class="nav-button-gb" (click)="onClickCountry('gb')" [class.active]="dataService.activeGB">GB</button>
            <button class="nav-button-us" (click)="onClickCountry('us')" [class.active]="dataService.activeUS">US</button>
        </div>

        <div class="menu-bar">
            <div class="dropbtn" [class.active]="showDropdownMenu">
                <i class="fa fa-bars" aria-hidden="true" (click)="showDropdownMenu = !showDropdownMenu"></i>
            </div>
        </div>
    </nav>

    <div class="dropdown-menu" *ngIf="showDropdownMenu">
        <a href="">Categories</a>
        <form>
            <input type="text" placeholder="Search">
        </form>
        <div class="buttons">
            <button mat-button (click)="onClickCountry('gb')" [class.active]="dataService.activeGB">GB</button>
            <button mat-button (click)="onClickCountry('us')" [class.active]="dataService.activeUS">US</button>
        </div>
    </div>
</header>
