@import 'src/scss/variables';

.container {
    padding: 20px;
}

.main-title-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0 0px 20px;

    .fa-circle {
        font-size: 12px;
        color: $header-main-color;
    }
}

.main-title {
    font-size: 24px;
    margin-left: 15px;
    color: $news-white-color;
    font-weight: 600;
}

.top-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news {
    background-color: $news-white-color;
}

@media only screen and (max-width: 400px) {
    .news {
        width: 240px;
        height: 220px;
    }

    .news-title {
        width: 240px;
    }

    .img-wrapper {
        img {
            height: 100px;
        }
    }
}
