@import 'src/scss/variables';

.categories-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: $header-border-color;

    li {
        display: block;
        margin: 30px 0;
    }

    span {
        margin-right: 15px;
        color: $header-main-color;
        font-size: 17px;
        font-weight: 600;
    }

    .fa-caret-down {
        cursor: pointer;
    }
}