section {
    padding: 70px;
}

.thumbnail {
    padding: 15px;
    background-color: white;
    
    img {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

.article-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.article-content {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 60px;
    }

    .article-title {
        font-size: 26px;
    }
    
    .article-content {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    section {
        padding: 50px;
    }

    .article-title {
        font-size: 20px;
    }
    
    .article-content {
        font-size: 12px;
    }
}
