<mat-accordion>
    <mat-expansion-panel *ngFor="let category of categoryNames" (opened)="onClickCategoryExpand(category.category_name)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="category-name">{{ category.category_name }}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-spinner *ngIf="loading" style="margin:0 auto;"></mat-spinner>

        <ngx-slick-carousel 
            *ngIf="!loading && articles.length"
            class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig">
            <div ngxSlickItem *ngFor="let article of articles">
                <div class="news">
                    <span class="news-title">{{ article.title }}</span>
                    <div class="img-wrapper">
                        <img *ngIf="article.urlToImage !== null" [src]="article.urlToImage">
                        <span class="error-message" *ngIf="article.urlToImage === null">
                            Image doesn't exist!
                        </span>
                    </div>
                    <p class="news-content">{{ article.description }}</p>
                    <a [routerLink]="['/categories', article.customId]">More ></a>
                </div>
            </div>
        </ngx-slick-carousel>

        <div *ngIf="!articles.length && !loading" class="no-article-data">No news</div>
    </mat-expansion-panel>
</mat-accordion> 
