<div class="container">
    <div class="main-title-wrapper">
        <i class="fa fa-circle" aria-hidden="true"></i>
        <span class="main-title">Top news from {{ dataService.countryName}}</span>
    </div>
    <div class="top-news">
        <div class="news" *ngFor="let article of articles">
            <span class="news-title">{{ article.title }}</span>
            <div class="img-wrapper">
                <img [src]="article.urlToImage">
            </div>
            <p class="news-content">{{ article.description }}</p>
            <a [routerLink]="['/home', article.source.id]">More ></a>
        </div>
    </div>
</div>
