.container {
    background-color: #e6e6e6;
    padding: 20px 0;
}

.main-title-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0 0px 20px;
}

.fa-circle {
    font-size: 12px;
    color: #2e2873;
}

.main-title {
    font-size: 24px;
    margin-left: 15px;
    color: white;
    font-weight: 600;
}

.top-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news {
    width: 295px;
    height: 260px;
    margin: 20px 10px;
    background-color: white;
    padding: 15px;
    position: relative;

    a {
        text-decoration: none;
        color: #2e2873;
        font-weight: 600;
        position: absolute;
        bottom: 12px;
        right: 15px;
    }
}

.img-wrapper {
    display: flex;
    justify-content: center;

    img {
        width: 295px;
        height: 120px;
        margin: 10px;
    }
}

.error-message {
    margin-top: 30px;
}

.news-title {
    display: flex;
    text-align: justify;
    font-size: 14px;
    font-weight: 600;
}

.news-content {
    text-align: justify;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
